
body {
  background: black;
  margin: 0;
  padding: 0;
  overflow:hidden;
  font-family: system-ui, sans-serif;
  perspective: 1500px;
}

.loader {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(#1f1f1f 0 0);
  background: var(--c),var(--c),#dfdfdf;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}

#container {
  filter:brightness(0.6);
  position: fixed;
  touch-action: none;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 2s;
}

#overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

#overlay a {
  font-size: 2em;
  font-weight: 700;
  font-family: verdana;
  color: #ffffff;
}


.header {
  z-index: 2;
  position: absolute;
  top: 35%;
  right: 50%;
  transform: translate(50%, -50%) perspective(200px) rotateX(5deg);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 7em;
  font-weight: 700;
  color: #e2e2e2;
  text-shadow: 
      1px 1px 1px #ffffff,
      1px 2px 2px rgba(255, 255, 255, 0.4),
      1px 3px 3px rgba(255, 255, 255, 0.2),
      1px 18px 6px rgba(255, 255, 255, 0.6),
      1px 22px 10px rgba(255, 255, 255, 0.3),
      1px 25px 35px rgba(255, 255, 255, 0.3),
      1px 30px 60px rgba(255, 255, 255, 0.6);
  
  transition: color 0.5s ease, text-shadow 0.5s ease;
}

.header:hover {
  cursor: pointer;
  color: #ffffff;
  text-shadow: 
      1px 1px 1px #ffffff,
      1px 2px 2px rgba(255, 255, 255, 0.6),
      1px 3px 3px rgba(255, 255, 255, 0.4),
      1px 18px 6px rgba(255, 255, 255, 0.8),
      1px 22px 10px rgba(255, 255, 255, 0.5),
      1px 25px 35px rgba(255, 255, 255, 0.5),
      1px 30px 60px rgba(255, 255, 255, 0.8); 
}

.sub-text {
  background: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  padding: 2px;
  z-index: 2;
  position: absolute;
  top: 45%;
  right: 50%;
  transform: translate(50%, -50%) perspective(200px) rotateX(5deg);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 2em;
  font-weight: 700;
  color: #5c5c5c;
  text-shadow: 
      1px 1px 1px #4e4e4e,
      1px 2px 2px rgba(255, 255, 255, 0.4),
      1px 3px 3px rgba(255, 255, 255, 0.2),
      1px 18px 6px rgba(255, 255, 255, 0.6),
      1px 22px 10px rgba(255, 255, 255, 0.3),
      1px 25px 35px rgba(255, 255, 255, 0.3),
      1px 30px 60px rgba(255, 255, 255, 0.6);
  
  transition: color 0.5s ease, text-shadow 0.5s ease;
}

.sub-text:hover {
  cursor: pointer;
  color: #858585;
  text-shadow: 
      1px 1px 1px #4e4e4e,
      1px 2px 2px rgba(255, 255, 255, 0.6),
      1px 3px 3px rgba(255, 255, 255, 0.4),
      1px 18px 6px rgba(255, 255, 255, 0.8),
      1px 22px 10px rgba(255, 255, 255, 0.5),
      1px 25px 35px rgba(255, 255, 255, 0.5),
      1px 30px 60px rgba(255, 255, 255, 0.8); 
}

.sub-text2 {
  background: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  padding: 2px;
  z-index: 2;
  position: absolute;
  top: 45%;
  right: 45%;
  transform: translate(50%, -50%) perspective(200px) rotateX(5deg);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 2em;
  font-weight: 700;
  color: #5c5c5c;
  text-shadow: 
      1px 1px 1px #4e4e4e,
      1px 2px 2px rgba(255, 255, 255, 0.4),
      1px 3px 3px rgba(255, 255, 255, 0.2),
      1px 18px 6px rgba(255, 255, 255, 0.6),
      1px 22px 10px rgba(255, 255, 255, 0.3),
      1px 25px 35px rgba(255, 255, 255, 0.3),
      1px 30px 60px rgba(255, 255, 255, 0.6);
  
  transition: color 0.5s ease, text-shadow 0.5s ease;
}

.sub-text2:hover {
  cursor: pointer;
  color: #747474;
  text-shadow: 
      1px 1px 1px #4e4e4e,
      1px 2px 2px rgba(255, 255, 255, 0.6),
      1px 3px 3px rgba(255, 255, 255, 0.4),
      1px 18px 6px rgba(255, 255, 255, 0.8),
      1px 22px 10px rgba(255, 255, 255, 0.5),
      1px 25px 35px rgba(255, 255, 255, 0.5),
      1px 30px 60px rgba(255, 255, 255, 0.8); 
}


:root {
  --glow-hue: 222deg;
  --shadow-hue: 180deg;
  --spring-easing: linear(
  0, 0.002, 0.01 0.9%, 0.038 1.8%, 0.156, 0.312 5.8%, 0.789 11.1%, 1.015 14.2%,
  1.096, 1.157, 1.199, 1.224 20.3%, 1.231, 1.231, 1.226, 1.214 24.6%,
  1.176 26.9%, 1.057 32.6%, 1.007 35.5%, 0.984, 0.968, 0.956, 0.949 42%,
  0.946 44.1%, 0.95 46.5%, 0.998 57.2%, 1.007, 1.011 63.3%, 1.012 68.3%,
  0.998 84%, 1
);
  --spring-duration: 1.33s;
}
@property --shimmer {
  syntax: "<angle>";
  inherits: false;
  initial-value: 33deg;
}

@keyframes shimmer {
  0% {
      --shimmer: 0deg;
  }
  100% {
      --shimmer: 360deg;
  }
}

@keyframes shine {
  0% {
      opacity: 0;
  }
  15% {
      opacity: 1;
  }
  55% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
@keyframes text {
  0% {
      background-position: 100% center;
  }    
  100% {
      background-position: -100% center;
  }    
}

button {
  color: var(--bg);
  font-weight: 600;
  /*     background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5); */
  background-image: linear-gradient(
      315deg,
      #d8d8d8 -10%,
      #d8d8d8 50%,
      #ffedd6 110%
  );
  padding: .8em 1.4em;
  position: relative;
  isolation: isolate;
  box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 -10px 20px -10px hsla(var(--shadow-hue),10%,90%,95%);
  border-radius: 0.66em;
  scale: 1;
  transition: all var(--spring-duration) var(--spring-easing);
}

button:hover:not(:active),
button.active {
  cursor: pointer;
  transition-duration: calc(var(--spring-duration)*0.5);
  scale: 1.1;
  box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 0 0 transparent;
}
button:active {
  scale: 1;
  transition-duration: calc(var(--spring-duration)*0.5);
}

.shimmer {
  position: absolute;
  inset: -40px;
  border-radius: inherit;
  mask-image: conic-gradient(
      from var(--shimmer, 0deg),
      transparent 0%,
      transparent 10%,
      black 36%,
      black 45%,
      transparent 50%,
      transparent 60%,
      black 85%,
      black 95%,
      transparent 100%
  );
  mask-size: cover;
  mix-blend-mode: plus-lighter;
  animation: shimmer 1s linear infinite both;
}
button:hover .shimmer::before,
button:hover .shimmer::after,
button.active .shimmer::before,
button.active .shimmer::after {
  opacity: 1;
  animation: shine 1.2s ease-in 1 forwards;
}
.shimmer::before,
.shimmer::after {
  transition: all 0.5s ease;
  opacity: 0;
  content: "";
  border-radius: inherit;
  position: absolute;
  mix-blend-mode: color;
  inset: 40px;
  pointer-events: none;
}
.shimmer::before {
  box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
      0 0 7px 4px hsl(var(--glow-hue) 20% 80%),
      0 0 13px 4px hsl(var(--glow-hue) 50% 70%),
      0 0 25px 5px hsl(var(--glow-hue) 100% 70%);
  z-index: -1;
}

.shimmer::after {
  box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
      inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%),
      inset 0 0 5px 2px hsl(var(--glow-hue) 100% 70%);
  z-index: 2;
}

button .text {
  font-family: verdana;
  font-size: 2em;
  font-weight: 700;
  color: rgb(39, 39, 39);
  background-clip: text;
  background-color: var(--bg);
  background-image: linear-gradient(120deg, transparent, hsla(var(--glow-hue),100%,80%,0.66) 40%, hsla(var(--glow-hue),100%,90%,.9) 50%, transparent 52%);
  background-repeat: no-repeat;
  background-size: 300% 300%;
  background-position: center 200%;
}

button:hover .text,
button.active .text {
  animation: text .66s ease-in 1 both;
}
  
