/*
        
    made by xeno n restrict
*/

#enter,
body {
    background-color: #000;
}
.begin,
.fixed-fluid,
.line {
    position: absolute;
}
#enter,
video {
    height: 100vh;
    position: fixed;
}
#enter,
.fixed-fluid,
video {
    top: 0;
    left: 0;
}
.line,
.noise {
    z-index: 1;
}
#enter,
.song-info {
    text-align: center;
}
.description,
.info-box,
.name {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(1, 0, 2, 0.5);
}
.fixed-fluid {
    opacity: 0.12;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;
}
body,
html {
    overflow: hidden;
    height: 100%;
}
#enter {
    z-index: 3;
    opacity: 1;
    width: 100%;
    transition: opacity 0.73s ease-out;
}
#enter.hidden {
    opacity: 0;
    pointer-events: none; 
}
.begin {
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 0px 7px, rgba(0, 0, 0, 0.35)px 29px;
    transition: opacity 0.73s ease-out;
}
#main {
    z-index: 2;
}
video {
    width: 100vw;
    object-fit: fill;
    z-index: -1;
}
.social img {
    z-index: 2;
    height: 40px;
    color: #fff;
    padding: 10px 15px;
    flex-direction: row;
    transition: transform 0.2s;
    margin-top: 44px;
}
.social img:hover {
    transform: scale(1.181) translateY(-4px);
}

.badge {
    height: 20px
}

.badgeunder {
    animation: up 2s;
    height: 20px
}

.line {
    left: 3.7%;
    right: 3.7%;
    bottom: 127px;
    height: 2.2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
    opacity: 0.7;
}
.info-box,
.song-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 5px black;
}
.name,
.profile-picture {
    background-size: cover;
    position: relative;
}
.info-box {
    width: 88.6%;
    height: 110px;
    border: 0.2px solid rgba(255, 255, 255, 0.2);
    border-radius: 7.2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    bottom: 7.6px;
    z-index: 0;
    padding: 0 20px;
}
.song-info {
    width: 100%;
    margin-bottom: 30px;
}
.song-title {
    font-weight: 700;
    font-family: monospace;
    display: inline-block;
    top: 5px;
    text-shadow: 2px 2px 5px black;
}
.player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.music-slider {
    width: 320px;
    height: 12px;
    border-radius: 25px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    margin-bottom: 85px;
}
.slider-progress {
    height: 100%;
    background-color: #fff;
    width: 0%;
    border-radius: 22px;
    position: relative;
}
.slider-progress::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
}
.pause-button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: -97px;
}
.pause-icon,
.play-icon {
    width: 21px;
    height: 21px;
    filter: invert(1);
}
.current-time,
.total-duration {
    font-size: 14px;
    position: absolute;
}
.current-time {
    top: -120px;
    left: -200px;
}
.total-duration {
    top: -120px;
    left: 166px;
}
.control-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.backward-button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: -97px;
    left: 34px;
}



.forward-button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: -97px;
    right: 34px;
}

.backward-button img,
.forward-button img {
    width: 20px;
    height: 20px;
    filter: invert(1);
    font-weight: bold;
}

.pause-button {
    margin: 0 10px;
}
.profile-picture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: url("https://files.catbox.moe/53hdv8.webp");
    background-position: center;
    top: -220px;
    border: 1.99px solid rgba(255, 255, 255, 0.2);
}
.name {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(1, 0, 2, 0.5);
    font-family: "PF Tempesta Five", sans-serif;
    text-transform: uppercase;
    font-weight: 10000;
    font-size: 34px;
    margin-top: -220px;
    position: relative;
    z-index: 1;
}

.name::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: sparkle 2s infinite;
    background: url('https://media.discordapp.net/attachments/1240816327590023293/1251626163088920676/sparkle.gif?ex=666f4333&is=666df1b3&hm=18dd5118e1d01ec761ed630ae16a6959b4b290937b60f6cd2fa9235db2d2a67a&=') no-repeat center center;
    background-size: cover;
    opacity: 0.82; 
    pointer-events: none; 
    z-index: -1; 
}
.description {
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(1, 0, 2, 0.5);
    white-space: nowrap;
    overflow: hidden;
    height: 1.2em;
    display: flex;
    align-items: center;
}
.profile-container {
    width: 440px;
    height: 320px;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    top: -50px;
}
.phone {
    display: none;
}
.badge-container {
    position: absolute;
    top: 330px; /* Adjust based on your design */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 20px; /* the gap between badges */
  }
  .badge {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
    top: -40px;
  }
  #badge1 {
    width: 30px;
    height: 30px;
    background-image: url('https://cdn.discordapp.com/emojis/1271560260947152929.webp?size=96&quality=lossless');
  }
  #text-pop1, #text-pop2 {
    display: none;
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: "IBM Plex Mono";
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 5px;
    pointer-events: none;
    white-space: nowrap;
    animation: fade-in 0.3s ease-in-out;
  }
  #text-pop1 {
    top: -20px; /* adjust if needed */
    left: -26px;
  }
  #text-pop2 {
    top: -20px; /* adjust if needed */
    right: -19px;
  }
  #badge1:hover + #text-pop1 {
    display: block;
  }
  .badge,
    #badge1,
    #badge2 {
        top: 170%;
   }


@media (max-width: 768px) {
    #enter,
    #video {
        display: none !important;
    }
    .pc {
        display: none;
    }
    .phone {
        display: block;
    }
}
