body {
    margin: 0;
    padding: 0;
    font-weight: 100;
    background-color: #000000;
    font-family: "Lucida Console", "Courier New", monospace;
    padding-bottom: 35px;
}

.ascii {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    text-align: center;
    padding: 25px;
    padding-top: 35px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7); /* Red glow */
    animation: textShadow 1.6s infinite;
    user-select: none;
}

/* Red glow effect */
.nav li a {
    color: rgba(170, 170, 170, 0.493);
    transition: all 0.3s ease-out;
}

.nav li a:hover {
    color: rgba(218, 218, 218, 0.493);
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Red glow on hover */
}

/* Position 5 randomly placed eyes */
.eye {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
}

@keyframes randomizePosition {
    0% {
        top: 10%;
        left: 10%;
    }
    100% {
        top: 80%;
        left: 90%;
    }
}

/* Slight red glow for Akatsuki feel */
#navbar-scrolling {
    background-color: #000;
    border-top: solid 2px #ff0000;
}

.bottom-header {
    color: #ff0000; /* Red text for Akatsuki theme */
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Red glow */
}
